group ExcelIntegration
  storage: none
  source https://api.nuget.org/v3/index.json
  frameworks: net5.0
  nuget NeXL
  nuget FSharp.Core
  nuget TaskBuilder.fs
  nuget WindowsAzure.Storage
  nuget FSharp.Data
  nuget NetOffice.Core.Net45
  nuget NetOffice.Excel.Net45
  nuget DocumentFormat.OpenXml
  nuget Newtonsoft.Json
  nuget Deedle
  nuget System.Drawing.Common